<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <div id="container">
      <div *ngIf="!updatePassword" id="parent">
        <form fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
          id="form_login">
          <mat-form-field class="input-field">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <mat-form-field class="input-field">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
          <button fxLayoutAlign="end" mat-flat-button id="Submit" color="primary">Submit</button>
        </form>
      </div>

      <form *ngIf="updatePassword" [formGroup]="updatePasswordForm">
        <mat-form-field class="input-field">
          <input matInput type="password" placeholder="New Password" formControlName="newPassword">
        </mat-form-field>
        <button mat-flat-button (click)="onUpdatePassword()" color="primary">Update Password</button>

      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>