<p>
  projects works!
</p>
<!-- TODO uncomment later when finishing testing dialog <button *ngIf="canCreateProject" mat-button (click)="openNewProjectDialog()">Create New Project</button> -->

<button mat-flat-button (click)="openNewProjectDialog()" color="primary">Create New Project</button>
<mat-form-field>
  <input matInput [(ngModel)]="search" #query placeholder="Project Name" value="">
</mat-form-field>


<div class="container">
  <header>
  </header>

  <nav>

  </nav>

  <main class="mat-typography">
    <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center flex-center">
      <ng-container *ngFor="let project of projects | filter:search">
        <mat-card class="card" (click)="openProject(project)">
          <mat-card-header>
            <mat-card-title>Project Name: {{project.name}}</mat-card-title>
            <mat-card-subtitle>Project Manager: {{project.manager}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-chip-list class="chipList">
              <mat-chip *ngFor="let skill of project.skills">
                {{skill}}
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="chipList">
              <mat-chip *ngFor="let developer of project.developers">
                {{developer.viewValue}}
              </mat-chip>
            </mat-chip-list>
            <p class="content-text">Description: {{project.description}}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>