<div class="container">
  <header>
  </header>

  <nav>

  </nav>

  <main class="mat-typography">
    <!-- Main content -->
    <div id="createUser">
      <form [formGroup]="createUserForm" id="form_createUser">
        <h2 style="margin-right: 5px">Create New User</h2>
        <mat-form-field class="input-field">
          <input matInput required placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="input-field">
          <input matInput required placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="input-field">
          <input matInput required placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="input-field">
          <input matInput required placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="role" required placeholder="User Role" class="input-field">
            <mat-option *ngFor="let role of roles" [value]="role.value">{{role.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="createNewUser()" type="button" color="primary">Submit</button>

      </form>
    </div>
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
