<mat-toolbar *ngIf="userType != '' && path != '/login'" color="primary">

  <a [routerLink]="['../home']" mat-button (click)="getNotifications()">
    <mat-icon>home</mat-icon>
  </a>

  <a [routerLink]="['../profiles']" mat-button (click)="getNotifications()">Profiles</a>

  <a [routerLink]="['../projects']" mat-button (click)="getNotifications()">Projects</a>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <ng-container *ngIf="notifications.length !== 0 && notifications !== null">
      <mat-icon color="warn" matBadge={{notifications.length}}>notifications</mat-icon>
    </ng-container>
    <ng-container *ngIf="notifications.length === 0 || notifications === null">
      <mat-icon>notifications</mat-icon>
    </ng-container>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let notification of notifications" (click)="openProject(notification)">
      <span>{{notification.message}}</span>
    </button>
  </mat-menu>

  <a *ngIf="userType === 'Administrator'" [routerLink]="['../admin']" (click)="getNotifications()" mat-button>Admin
    Page
  </a>
  <button [routerLink]="['../']" mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>