<mat-toolbar *ngIf="userType != ''" color="primary">

  <a [routerLink]="['../home']" mat-button>
    <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>
  </a>
  <a [routerLink]="['../user']" mat-button>User</a>

  <a [routerLink]="['../profiles']" mat-button>Profiles</a>

  <a [routerLink]="['../projects']" mat-button>Projects</a>

  <span class="example-spacer"></span>
  <a [routerLink]="['../notifications']" mat-button>Notifications</a>

  <a *ngIf="userType === 'Administrator'" [routerLink]="['../admin']" mat-button>Admin Page</a>

  <!-- <a [routerLink]="['../logout']" mat-button>Logout</a> -->
  <button [routerLink]="['../']" mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
