<div class="container">
  <header>
  </header>

  <nav>

  </nav>

  <main class="mat-typography">
    <div class="cards" fxLayout="wrap row" fxLayout.lt-sm="column">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title styles="text-align: center !important">My Personal Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>First Name: {{profile.Item.first_name}}</h3>
          <h3>Last Name: {{profile.Item.last_name}}</h3>
          <h3>Email: {{profile.Item.email}}</h3>
          <h3>Role: {{profile.Item.role}}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title styles="text-align: center !important">My Description</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{profile.Item.description}}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <!-- Fix styling issue of icon button... -->
          <mat-card-title styles="text-align: center !important">My Skills</mat-card-title>
          <div fxFlex></div>
          <div class="editIcon">
            <button *ngIf="!isEditable" mat-icon-button (click)="toggleEdit()">
              <mat-icon>edit</mat-icon>
            </button>
            <div *ngIf="isEditable">
              <button *ngIf="isEditable" mat-icon-button (click)="toggleEdit()">
                <mat-icon>cancel</mat-icon>
              </button>
              <button *ngIf="isEditable" mat-icon-button (click)="toggleEdit(true)">
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="chip-list">
            <mat-chip-list *ngIf="!isEditable" class="mat-chip-list">
              <mat-chip *ngFor="let skill of profile.Item.skills">
                {{skill}}
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list *ngIf="isEditable" #roleList class="mat-chip-list">
              <mat-chip *ngFor="let skill of profile.Item.skills" [removable]="removable" (removed)="remove(skill)">
                {{skill}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input matInput placeholder="New skill..." [matChipInputFor]="roleList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>


          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
