<div class="container">
  <header>
  </header>

  <nav>

  </nav>
  <main>
    <h2>Project Name: {{project['name']}}</h2>
    <div>
      <h3 class="h3-status">Project Manager: {{project['manager']}}</h3>
    </div>
    <div>
      <h3>Project Details:</h3>
      <div fxFlex></div>
      <div>
        <!-- TODO Change project manager comparison below (3 times) to actual username  -->
        <button *ngIf="project['manager'] === 'porreq' && !detailsEditable" mat-icon-button (click)="toggleDetailsEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="project['manager'] === 'porreq' && detailsEditable" mat-icon-button (click)="toggleDetailsEdit()">
          <mat-icon>cancel</mat-icon>
        </button>
        <button *ngIf="project['manager'] === 'porreq' && detailsEditable" mat-icon-button (click)="toggleDetailsEdit(true)">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]=2 [rowspan]=2 [style.background]="'lightblue'">
        <p *ngIf="project['manager'] != 'porreq' || !detailsEditable">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. A, harum exercitationem. Dolore cum modi, magni, ea
          temporibus quis beatae, incidunt tenetur accusantium nobis itaque id? Voluptatem assumenda magnam eius
          quaerat.{{project.description}}</p>
        <mat-form-field *ngIf="project['manager'] === 'porreq' && detailsEditable" class="descInput">
          <textarea [(ngModel)]="project.description" matInput matTextareaAutosize matAutosizeMinRows=1 placeholder="Textarea">{{project.description}}</textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2 [rowspan]=1 [style.background]="'lightgreen'">
        <!-- TODO need to change to actual current user name -->
        <ng-container *ngIf="project['manager'] === 'porreq' && detailsEditable">
          <b style="padding-right: 10px">Add Developers to Project</b>
          <mat-form-field>
            <mat-select [formControl]="devSelect" placeholder="Developers" multiple>
              <mat-option *ngFor="let dev of developers" [value]="{value: dev.value, viewValue: dev.viewValue}">{{dev.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <div fxFlex></div>
        <h3 *ngIf="!detailsEditable" class="h3-status">Status: {{project.status}}</h3>
        <mat-form-field *ngIf="detailsEditable">
          <mat-select [formControl]="statusSelect" placeholder="Status:">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="In Progress">In Progress</mat-option>
            <mat-option value="Done">Done</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=2 [rowspan]=1 [style.background]="'lightgray'">
        <h3>Developers:</h3>
        <mat-chip-list class="chipList">
          <mat-chip *ngFor="let dev of project['developers']  ">
            {{dev.viewValue}}
          </mat-chip>
        </mat-chip-list>
      </mat-grid-tile>
    </mat-grid-list>
    <ng-masonry-grid>
      <ng-masonry-grid-item *ngFor="let task of project['tasks']; index as i">
        <mat-card class="card">
          <mat-card-header>
            <h3>Task Name: {{task.name}}</h3>
            <div fxFlex></div>
            <div *ngIf="task.assignee === user">
              <!-- <button mat-icon-button (click)="editStatus()">
                <mat-icon>edit</mat-icon>
              </button> -->

              <button *ngIf="!changeStatus && task.assignee === user" mat-icon-button (click)="editStatus(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <div *ngIf="changeStatus && i === taskNumber && task.assignee === user">
                <button mat-icon-button (click)="editStatus(i, false)">
                  <mat-icon>cancel</mat-icon>
                </button>
                <button mat-icon-button (click)="editStatus(i, true, task)">
                  <mat-icon>done</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-header>

          <mat-card-content>
            <h5>Date assigned: {{task.date_assigned}}</h5>
            <h5>Date due: {{task.date_due}}</h5>
            <h5>Assigned to: {{task.assignee}}</h5>
            <h5 *ngIf="!changeStatus || i != taskNumber">Status: {{task.status}}</h5>
            <mat-form-field *ngIf="changeStatus && i === taskNumber && task.assignee === user">
              <mat-select [formControl]="statusSelect">
                <mat-option value="Pending">Pending</mat-option>
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Done">Done</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </ng-masonry-grid-item>
    </ng-masonry-grid>



  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
