/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.snackbar-style-success {
  color: #8bc34a;
}

.snackbar-style-success .mat-simple-snackbar-action {
  color: wheat;
}

.snackbar-style-fail {
  color: #da0c0c;
}

.snackbar-style-fail .mat-simple-snackbar-action {
  color: wheat;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 12% 1fr 12%;
  grid-auto-rows: auto 1fr auto;
  grid-gap: 10px;

  /* height: 100vh; */
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.example-spacer {
  flex: 1 1 auto;
}

.input-field {
  margin-right: 5px;
}

