<!-- <p>
  home works! Logged In!
</p>
<nav *ngIf="userType === 'Administrator'">
  <a routerLink="../admin" routerLinkActive="active">Admin_page</a>
</nav>
<router-outlet></router-outlet> -->

<div class="container">
  <header>
  </header>

  <nav>

  </nav>

  <main class="mat-typography">
    <mat-form-field>
      <input matInput [(ngModel)]="userQuery" placeholder="Lookup..">
    </mat-form-field>
    <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center flex-center">
      <ng-container *ngFor="let profile of profiles | filter:userQuery">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{profile.first_name + " " + profile.last_name}}</mat-card-title>
            <mat-card-subtitle><a href="mailto:a@a.com">{{profile.email}}</a></mat-card-subtitle>
            <mat-card-subtitle>Role: {{profile.role}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <mat-chip-list class="chipList">
              <mat-chip *ngFor="let skill of profile.skills">
                {{skill}}
              </mat-chip>
            </mat-chip-list>
            <br>
            <p class="content-text">{{profile.description}}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>