<!-- <p>
  home works! Logged In!
</p>
<nav *ngIf="userType === 'Administrator'">
  <a routerLink="../admin" routerLinkActive="active">Admin_page</a>
</nav>
<router-outlet></router-outlet> -->

<div class="container">
  <header>
  </header>

  <nav>

  </nav>

  <main class="mat-typography">
    <ng-masonry-grid>
      <ng-masonry-grid-item *ngFor="let profile of profiles">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{profile.name}}</mat-card-title>
            <mat-card-subtitle><a href="mailto:a@a.com">{{profile.email}}</a></mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <!-- <ul *ngFor="let item of profile.skills">
              <li>{{item}}</li>
            </ul> -->
            <mat-chip-list class="chipList">
              <mat-chip *ngFor="let skill of profile.skills">
                {{skill}}
              </mat-chip>
            </mat-chip-list>
            <br>
            <p class="content-text">{{profile.description}}</p>
          </mat-card-content>
        </mat-card>
      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
