<!-- <p>
  home works! Logged In!
</p>
<nav *ngIf="userType === 'Administrator'">
  <a routerLink="../admin" routerLinkActive="active">Admin_page</a>
</nav>
<router-outlet></router-outlet> -->

<div class="container">
  <header>
    <!-- Header content -->
   
    <!-- <div class="left-side"> -->
        
        <!-- <mat-tab-group class="navbar">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                First
              </ng-template>
              Content 1
            <mat-tab label="TabHeader1"></mat-tab>
            <mat-tab label="TabTabHeader2"></mat-tab>
            <mat-tab class="right" label="TabHeader3"></mat-tab>
            <mat-tab class="right" label="TabTabHeader4"></mat-tab>
        </mat-tab-group> -->

        <!-- <mat-toolbar-row>
            <mat-icon class="example-tab-icon">home</mat-icon>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
            <mat-icon class="example-icon">delete</mat-icon>
        </mat-toolbar-row> -->
        <mat-toolbar color="primary">

            <a [routerLink]="['../home']" mat-button>
                <mat-icon aria-label="Example icon-button with a heart icon">home</mat-icon>
            </a>
            <a [routerLink]="['../user_profile']" mat-button>User Profile</a>
          
            <a [routerLink]="['../projects']" mat-button>Projects</a>
          
            <span class="example-spacer"></span>
            <a [routerLink]="['../notifications']" mat-button>Notifications</a>

            <a [routerLink]="['../projects']" mat-button>Admin Page</a>  
            
            <a [routerLink]="['../logout']" mat-button>Logout</a>
          </mat-toolbar>
      <!-- <ul class="navbar" routerLinkActive="active">
        <li class="nav-item"><a [routerLink]="['../user_profile']">User Profile</a></li>
        <li class="nav-item"><a [routerLink]="['../projects']">Projects</a></li>
      </ul> -->
    <!-- </div> -->
    <!-- <div class="right-side">
        <mat-tab-group>
            <mat-tab label="TabHeader1"></mat-tab>
            <mat-tab label="TabTabHeader2"></mat-tab>
        </mat-tab-group>
      <ul class="navbar" routerLinkActive="active">
        <li class="nav-item"><a [routerLink]="['../notifications']">Notifications</a></li>
        <li class="nav-item"><a [routerLink]="['../projects']">Admin Page</a></li>
      </ul> 
    </div> -->
  </header>

  <main>
    <!-- Main content -->
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
