.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
    
        grid-template-columns: 200px 1fr 200px;
        grid-auto-rows: auto 1fr auto;
        grid-gap: 10px;

        height: 100vh;
}

header {
    grid-area: header;

    display: flex;
    justify-content: space-between;    
}
/* 
header.navbar {
    align-items: left;
}

header.right {
    align-items: right;
} */

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}
  

/* header.left-side {
    align-items: left;
}
.navbar li {
    list-style: none;
    text-align: center;
    margin-right: 30px;
    line-height: 50px;
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    display: block;
  }
  
.navbar li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
  }

header.left-side {
    align-items: right;
} */

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}