<!-- <p>
  home works! Logged In!
</p>
<nav *ngIf="userType === 'Administrator'">
  <a routerLink="../admin" routerLinkActive="active">Admin_page</a>
</nav>
<router-outlet></router-outlet> -->

<div class="container">
  <header>
    <!-- Header content -->

    <!-- <div class="left-side"> -->

    <!-- <mat-tab-group class="navbar">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                First
              </ng-template>
              Content 1
            <mat-tab label="TabHeader1"></mat-tab>
            <mat-tab label="TabTabHeader2"></mat-tab>
            <mat-tab class="right" label="TabHeader3"></mat-tab>
            <mat-tab class="right" label="TabTabHeader4"></mat-tab>
        </mat-tab-group> -->

    <!-- <mat-toolbar-row>
            <mat-icon class="example-tab-icon">home</mat-icon>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon">favorite</mat-icon>
            <mat-icon class="example-icon">delete</mat-icon>
        </mat-toolbar-row> -->
    <!-- <app-navigation></app-navigation> -->
    <!-- <ul class="navbar" routerLinkActive="active">
        <li class="nav-item"><a [routerLink]="['../user_profile']">User Profile</a></li>
        <li class="nav-item"><a [routerLink]="['../projects']">Projects</a></li>
      </ul> -->
    <!-- </div> -->
    <!-- <div class="right-side">
        <mat-tab-group>
            <mat-tab label="TabHeader1"></mat-tab>
            <mat-tab label="TabTabHeader2"></mat-tab>
        </mat-tab-group>
      <ul class="navbar" routerLinkActive="active">
        <li class="nav-item"><a [routerLink]="['../notifications']">Notifications</a></li>
        <li class="nav-item"><a [routerLink]="['../projects']">Admin Page</a></li>
      </ul> 
    </div> -->
  </header>

  <nav>

  </nav>

  <main>
    <!-- Main content -->
    <div *ngFor="let profile of profiles" layout="row" layout-wrap>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{profile.name}}</mat-card-title>
          <mat-card-subtitle><a href="mailto:a@a.com">{{profile.email}}</a></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <ul *ngFor="let item of profile.skills">
            <li>{{item}}</li>
          </ul>
          <br>
          <p>{{profile.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Sample Name</mat-card-title>
        <mat-card-subtitle><a href="mailto:mail@example.com">mail@example.com</a></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a gravida massa, eget tristique lorem. Sed porttitor, ipsum id molestie efficitur, urna justo varius leo, sit amet blandit sapien neque nec leo. Fusce iaculis augue ut luctus iaculis. Duis congue mi vel orci ultrices, eget ultricies dui tristique. Cras eget est nunc. Aliquam interdum in ex sit amet consectetur. Ut lacinia tellus et eleifend cursus.
              <br>
              Morbi nec metus eget erat ullamcorper euismod non tincidunt nibh. Sed feugiat condimentum ligula, ut lacinia odio porta in. Ut sodales pretium orci nec venenatis. In placerat consequat urna ac consectetur. Praesent efficitur urna lorem, sit amet malesuada erat varius vel. Vestibulum ac euismod sapien. Praesent ullamcorper leo eu tortor elementum pellentesque. Maecenas consequat libero vitae sapien porta laoreet.
          </p>
        </mat-card-content>
    </mat-card>
    <p>test</p> -->
  </main>

  <aside></aside>

  <footer>
    <!-- Footer content -->
  </footer>
</div>
